@model IEnumerable<Data.Models.ViewModels.SucursalViewModel>

@{
    ViewBag.Title = "SucursalesIndex";
}

    <div class="jumbotron"id ="jumbotronTitulo">
        <img id="sucursalesListImage"src="~/Content/Images/kisspng-fusion-cuisine-european-cuisine-restaurant-pizza-c-dining-vector-5ad9d0ef352779.1186250915242242392177.png" />
        <h2>Sucursales disponibles</h2>
    </div>
<hr size="30"/>
@if (User.IsInRole("Administrador"))
{
    <p>
        @Html.ActionLink("Agregar sucursal", "AgregarSucursal", "", new { @class = "btn btn-block", id = "botonFuncional" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreSucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionSucursal)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreSucursal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pais.NombrePais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provincia.NombreProvincia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DireccionSucursal)
                </td>
                <td>
                    @Html.ActionLink("Ver menu", "ProductoMenuList", "ProductoMenu", new { id = item.CodigoSucursal }, new { @class = "btn btn-block", id= "botonFuncional"})
                    @Html.ActionLink("Modificar sucursal", "UpdateSucursal", "Sucursal", new { id = item.CodigoSucursal }, new { @class = "btn btn-block", id= "botonFuncional" })
                    @Html.ActionLink("Eliminar", "DeleteSucursal", "Sucursal", new { id = item.CodigoSucursal }, new { @class = "btn btn-block", id= "botonFuncional" })
                </td>
            </tr>
        }
    </table>
}
else if (User.IsInRole("Cliente") | User.Identity.IsAuthenticated == false)
{
    <div class="row row-no-gutters">
        @foreach (var item in Model)
        {
            <div class = "col-sm">
                <div class="panel-group">
                    <div id="sucursalPanel" class="panel">
                        <div id="sucursalPanelHeading" class="panel-heading">@Html.DisplayFor(modelItem => item.NombreSucursal)</div>
                        <div id="sucursalPanelBody" class="panel-body">
                            <p>@Html.LabelFor(model => item.DireccionSucursal, htmlAttributes: new { @class = "label-sucursal" }) @Html.DisplayFor(modelItem => item.DireccionSucursal)</p>
                            <hr size="10" />
                            <p>@Html.LabelFor(model => item.Provincia, htmlAttributes: new { @class = "label-sucursal" }) @Html.DisplayFor(modelItem => item.Provincia.NombreProvincia)</p>
                            <hr size="10" />
                            <p>@Html.LabelFor(model => item.Pais, htmlAttributes: new { @class = "label-sucursal" }) @Html.DisplayFor(modelItem => item.Pais.NombrePais)</p>
                        </div>
                        <div id="sucursalPanelFooter" class="panel-footer">
                            @Html.ActionLink("Visualizar menu", "ProductoMenuList", "ProductoMenu", new { id = item.CodigoSucursal }, new { @class = "btn btn-block", id = "btnVisualizarMenu" })
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    @*<div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card text-center">@Html.DisplayFor(modelItem => item.NombreSucursal)</h4>
                        <div class="card-body">
                            <p class="card-text">@Html.DisplayFor(modelItem => item.DireccionSucursal)</p>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Provincia.NombreProvincia)</p>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Pais.NombrePais)</p>
                        </div>
                        <div class="card-footer">
                            @Html.ActionLink("Ver menu", "ProductoMenuList", "ProductoMenu", new { id = item.CodigoSucursal }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">@Html.DisplayFor(modelItem => item.NombreSucursal)</div>
                        <div class="panel-body">
                            <p class="card-text">@Html.DisplayFor(modelItem => item.DireccionSucursal)</p>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Provincia.NombreProvincia)</p>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Pais.NombrePais)</p>
                        </div>
                        <div class="panel-footer">
                            @Html.ActionLink("Ver menu", "ProductoMenuList", "ProductoMenu", new { id = item.CodigoSucursal }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            }

        </div>*@
}

