@model Data.Models.ViewModels.ProductoMenuViewModel

@{
    ViewBag.Title = "ModificarProductoMenu";
}

    <div class ="jumbotron" id="jumbotronTitulo">
        <h2>Modificar precio del producto en la sucursal</h2>
    </div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
                @Html.HiddenFor(model => model.CodigoProducto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.CodigoProductoMenu, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NombreProducto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.NombreProducto, new { htmlAttributes = new { @class = "form-control", id = "label-info" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescripcionProducto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.DescripcionProducto, new { htmlAttributes = new { @class = "form-control", id = "label-info" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Costo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Costo, new { htmlAttributes = new { @class = "form-control", id = "label-info" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.CodigoMenu, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Actualizar" class="btn btn-block" id="botonFuncional" />
            </div>
        </div>
    </div>
}
