@model IEnumerable<Data.Models.ViewModels.ProductoMenuListViewModel>

@{
    ViewBag.Title = "MenuPorSucursal";
}

<h2>Menú</h2>

@if (User.IsInRole("Administrador"))
{
    <p>
        @Html.ActionLink("Agregar porducto", "SeleccionAgregarProducto")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @if (User.IsInRole("Cliente") | User.Identity.IsAuthenticated == false)
                {
                    @Html.ActionLink("Ordenar", "OrdenarProducto", "Orden", new { id = item.CodigoProductoMenu }, new { @class = "btn btn-primary btn-block" })
                }
                else
                {
                    @Html.ActionLink("Modificar", "OrdenarProducto", "Orden", new { id = item.CodigoProductoMenu }, new { @class = "btn btn-primary btn-block" })
                    @Html.ActionLink("Eliminar", "OrdenarProducto", "Orden", new { id = item.CodigoProductoMenu }, new { @class = "btn btn-primary btn-block" })
                }
            </td>
        </tr>
    }

</table>
