@model IEnumerable<Data.Models.ViewModels.OrdenViewModelCliente>
@using Data.Services
@{
    ViewBag.Title = "OrdenListaClientes";
}

    <div class="jumbotron" id="jumbotronTitulo"> 
        <div class="titulo">
            <h2>Historial de ordenes</h2>
        </div>
    </div>

<table class="table">
    <tr>
        <th>
            Nombre de cliente:
        </th>
        <th>
            Sucursal:
        </th>
        <th>
            Nombre de producto:
        </th>
        <th>
            Precio:
        </th>
        <th>
            Encargado de orden:
        </th>
        <th>
            Fecha:
        </th>
        <th>
            Estado:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.NombreCliente) @Html.DisplayFor(modelItem => item.Cliente.ApellidoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sucursal.NombreSucursal)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Producto.NombreProducto)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.OrdenDetalle.PrecioVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.NombreEmpleado) @Html.DisplayFor(modelItem => item.Empleado.ApellidoEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.NombreEstado)
        </td>
        <td>
            @if(item.Estado.CodigoEstado == 1025)
            {
                <input type="checkbox" class="checkbox" checked="" disabled=""/>
            }
        </td>
    </tr>
}

</table>
