@model IEnumerable<Data.Models.ViewModels.OrdenClienteViewModel>
@using Data.Services
@{
    ViewBag.Title = "OrdenListaClientes";
}

    <div class="jumbotron" id="jumbotronTitulo"> 
        <div class="titulo">
            <img class="img-title-center"src="~/Content/Images/kisspng-invoice-payment-bookkeeping-accounting-computer-ic-save-png-invoices-5ab1109e4137b1.6855386115215535662671.png" />
            <h2>Historial de ordenes</h2>
        </div>
    </div>

<table class="table">
    <tr>
        <th>
            Nombre de cliente:
        </th>
        <th>
            Sucursal:
        </th>
        <th>
            Encargado de orden:
        </th>
        <th>
            Fecha:
        </th>
        <th>
            Estado:
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.NombreCliente) @Html.DisplayFor(modelItem => item.Cliente.ApellidoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sucursal.NombreSucursal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.NombreEmpleado) @Html.DisplayFor(modelItem => item.Empleado.ApellidoEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.NombreEstado)
        </td>
        <td>
            @if(item.Estado.CodigoEstado == 1025)
            {
                <input type="checkbox" class="checkbox" checked="" disabled=""/>
            }
        </td>
        <td>
            @Html.ActionLink("Ver detalle de orden", "DetallarOrden", "OrdenDetalle", new { idOrden = item.CodigoOrden }, new { @class = "btn btn-block btn-responsive", id = "botonFuncional" })
        </td>
    </tr>
}

</table>
