@model IEnumerable<Data.Models.ViewModels.OrdenViewModelEmpleado>

@{
    ViewBag.Title = "OrdenListaEmpleados";
}

    <div class="jumbotron" id="jumbotronTitulo">
        <div class="titulo">
            <h2>Lista de ordenes asignadas</h2>
        </div>
    </div>

<table class="table-bordered">
    <tr>
        <th>
           Nombre de cliente:
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenDetalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Cliente.NombreCliente) @Html.DisplayFor(modelItem => item.Cliente.ApellidoCliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Sucursal.NombreSucursal)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Producto.NombreProducto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrdenDetalle.PrecioVenta)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estado.NombreEstado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fecha)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Empleado.NombreEmpleado) @Html.DisplayFor(modelItem => item.Empleado.ApellidoEmpleado)
    </td>
    @if (item.Estado.CodigoEstado == 1024)
    {
        <td>
            @Html.ActionLink("Completar orden", "ActualizarEstadoOrden", new { id = item.CodigoOrden }, new { @class = "btn btn-block", id = "botonFuncional" })
        </td>
    }
    else
    {
        <td>
            @Html.ActionLink("Completar orden", "ActualizarEstadoOrden", new { id = item.CodigoOrden }, new { @class = "btn disabled btn-block", id = "botonFuncional" })
        </td>
    }
</tr>
}

</table>
