@using Data.Services
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Felix's Gorditos Place", "SucursalIndex", "Sucursal", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (User.IsInRole("Administrador"))
                {
                    <ul id="navbarUl" class="nav navbar-nav">
                        <li>@Html.ActionLink("Pagina principal", "SucursalIndex", "Sucursal")</li>
                        <li>@Html.ActionLink("Empleados", "EmpleadosEsperandoActivacion", "Empleado")</li>
                        <li>@Html.ActionLink("Sucursales", "SucursalIndex", "Sucursal")</li>
                        <li>@Html.ActionLink("Productos", "ListaProductos", "Producto")</li>
                        <li>@Html.ActionLink("Sobre nosotros", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                }
                else if (User.IsInRole("Cliente"))
                {
                    <ul id="navbarUl" class="nav navbar-nav">
                        <li>@Html.ActionLink("Pagina principal", "SucursalIndex", "Sucursal")</li>
                        <li>@Html.ActionLink("Sucursales", "SucursalIndex", "Sucursal")</li>
                        <li>@Html.ActionLink("Historial de ordenes", "OrdenListaClientes", "Orden")</li>
                        <li>@Html.ActionLink("Sobre nosotros", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                }
                else if (User.Identity.IsAuthenticated == false)
                {
                    <ul id="navbarUl" class="nav navbar-nav">
                        <li>@Html.ActionLink("Pagina principal", "SucursalIndex", "Sucursal")</li>
                        <li>@Html.ActionLink("Sucursales", "SucursalIndex", "Sucursal")</li>
                        <li>@Html.ActionLink("Sobre nosotros", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                }
                else
                {
                    <ul id="navbarUl" class="nav navbar-nav">
                        <li>@Html.ActionLink("Pagina principal", "SucursalIndex", "Sucursal")</li>
                        <li>@Html.ActionLink("Mis ordenes asignadas", "OrdenListaEmpleados", "Orden")</li>
                        <li>@Html.ActionLink("Sobre nosotros", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                }
                @if (User.Identity.IsAuthenticated == false)
                {
                    <ul id="navbarRightUl" class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Iniciar Sesión", "Login", "Login")
                        </li>
                        <li>
                            @Html.ActionLink("Regístrate", "SeleccionRegistro", "Login")
                        </li>
                    </ul>
                }
                else
                {
                    if (User.IsInRole("Administrador") | User.IsInRole("Empleado"))
                    {
                        <ul id="navbarRightUl" class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Bienvenido administrador " + User.Identity.Name, "DetalleUsuario", "Login")
                            </li>
                            <li>
                                @Html.ActionLink("Log Out", "LogOut", "Login")
                            </li>
                        </ul>
                    }
                    else if (User.IsInRole("Cliente"))
                    {
                        <ul id="navbarRightUl" class="nav navbar-nav navbar-right">
                            <li>
                                @{
                                    var cliente = GetService.GetClienteService().GetClienteFromUserName(User.Identity.Name);
                                    string NombreCompletoUsuario = cliente.NombreCliente + " "
                                        + GetService.GetClienteService().GetClienteFromUserName(User.Identity.Name).ApellidoCliente;

                                    if (cliente.Sexo == "Masculino")
                                    {
                                        @Html.ActionLink("Bienvenido " + NombreCompletoUsuario, "DetalleUsuario", "Login");
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Bienvenida " + NombreCompletoUsuario, "DetalleUsuario", "Login");
                                    }
                                }
                            </li>
                            <li>
                                @Html.ActionLink("Log Out", "LogOut", "Login")
                            </li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="titleContainer">
            <p>&copy; @DateTime.Now.Year - El mejor restaurante del mundo, según los expertos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="http://getbootstrap.com.vn/examples/equal-height-columns/equal-height-columns.css" />
    <script src="~/Scripts/Scripts.js"></script>
</body>
</html>
