@using Data.Services
@using Data.DbAccess
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Felix's Gorditos", "SucursalIndex", "Sucursal", new { area = "" }, new { @class = "navbar-brand", id = "tituloPagina" })
                @*<a href="~/Views/Sucursal/SucursalIndex.cshtml"><img class="img-responsive" src="~/Content/Images/Screen Shot 2020-04-24 at 2.25.13 AM.png" /></a>*@
            </div>
            <div class="navbar-collapse collapse">
                @if (User.IsInRole("Administrador"))
                {
                    <ul id="navbarUl" class="nav navbar-nav">
                        <li>@Html.ActionLink("Pagina principal", "SucursalIndex", "Sucursal")</li>
                        <li>@Html.ActionLink("Empleados", "EmpleadosEsperandoActivacion", "Empleado")</li>
                        <li>@Html.ActionLink("Sucursales", "SucursalIndex", "Sucursal")</li>
                        <li>@Html.ActionLink("Productos", "ListaProductos", "Producto")</li>
                        <li>@Html.ActionLink("Sobre nosotros", "About", "Home")</li>
                    </ul>
                }
                else if (User.IsInRole("Cliente"))
                {
                    <ul id="navbarUl" class="nav navbar-nav">
                        <li>@Html.ActionLink("Pagina principal", "SucursalIndex", "Sucursal")</li>
                        <li>@Html.ActionLink("Sucursales", "SucursalIndex", "Sucursal")</li>
                        <li>@Html.ActionLink("Platos", "ListaProductos", "Producto")</li>
                        <li>@Html.ActionLink("Historial de ordenes", "OrdenListaClientes", "Orden")</li>
                        <li>@Html.ActionLink("Sobre nosotros", "About", "Home")</li>
                    </ul>
                }
                else if (User.Identity.IsAuthenticated == false)
                {
                    <ul id="navbarUl" class="nav navbar-nav">
                        <li>@Html.ActionLink("Pagina principal", "SucursalIndex", "Sucursal")</li>
                        <li>@Html.ActionLink("Sucursales", "SucursalIndex", "Sucursal")</li>
                        <li>@Html.ActionLink("Platos", "ListaProductos", "Producto")</li>
                        <li>@Html.ActionLink("Sobre nosotros", "About", "Home")</li>
                    </ul>
                }
                else if (User.IsInRole("Empleado"))
                {
                    <ul id="navbarUl" class="nav navbar-nav">
                        <li>@Html.ActionLink("Pagina principal", "SucursalIndex", "Sucursal")</li>
                        <li>@Html.ActionLink("Mis ordenes asignadas", "OrdenListaEmpleados", "Orden")</li>
                        <li>@Html.ActionLink("Sobre nosotros", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                }
                @if (User.Identity.IsAuthenticated == false)
                {
                    <ul id="navbarRightUl" class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Iniciar Sesión", "Login", "Login")
                        </li>
                        <li>
                            @Html.ActionLink("Regístrate", "SeleccionRegistro", "Login")
                        </li>
                    </ul>
                }
                else
                {
                    if (User.IsInRole("Administrador") | User.IsInRole("Empleado"))
                    {
                        <ul id="navbarRightUl" class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Bienvenido admin " + User.Identity.Name, "DetalleUsuario", "Login")
                            </li>
                            <li>
                                @Html.ActionLink("Log Out", "LogOut", "Login")
                            </li>
                        </ul>
                    }
                    else if (User.IsInRole("Cliente"))
                    {
                        <ul id="navbarRightUl" class="nav navbar-nav navbar-right">
                            <li>
                                @{ 
                                    //Contar la cantidad de objetos que estan en el carrito
                                    List<ProductoMenu> carrito = new List<ProductoMenu>();
                                    carrito = (List<ProductoMenu>)Session["Carrito"];
                                    int productosEnCarrito;

                                    if(carrito == null)
                                    {
                                        productosEnCarrito = 0;
                                    }
                                    else
                                    {
                                        productosEnCarrito = carrito.Count();
                                    }
                                }
                                <a href="/Carrito/ListarCarrito"><img height="20" width="20" src="~/Content/Images/shopping-cart.svg" /> @productosEnCarrito</a>
                            </li>
                            <li>
                                @{
                                    var cliente = GetService.GetClienteService().GetClienteFromUserName(User.Identity.Name);
                                    string nombreCompletoUsuario = cliente.NombreCliente + " "
                                        + GetService.GetClienteService().GetClienteFromUserName(User.Identity.Name).ApellidoCliente;

                                    if (nombreCompletoUsuario != null)
                                    {
                                        @Html.ActionLink(nombreCompletoUsuario, "DetalleUsuario", "Login");
                                    }
                                }
                            </li>
                            <li>
                                @Html.ActionLink("Log Out", "LogOut", "Login")
                            </li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="titleContainer">
            <p>&copy; @DateTime.Now.Year - El mejor restaurante del mundo, según los expertos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Scripts.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
